In [1]:
import pandas as pd
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
import sqlite3

In [2]:
connex = sqlite3.connect("weather_predict.db")  # Opens file if exists, else creates file
cur = connex.cursor()

In [31]:
query_city = 'Kyoto_prediction'
query = "SELECT * FROM " + query_city

In [32]:
df = pd.read_sql(query, con=connex)

In [33]:
df.sort_values(by=['Date'], ascending=True)

          Date  Actual_avg_temp  Predicted_temp  Difference
10  2019-01-21               43              46          -3
9   2019-01-22               39              42          -3
8   2019-01-23               44              40           4
7   2019-01-24               37              46          -9
6   2019-01-25               41              40           1
5   2019-01-26               36              42          -6
4   2019-01-27               35              34           1
3   2019-01-28               42              34           8
2   2019-01-29               35              42          -7
1   2019-01-30               40              34           6
0   2019-01-31               40              40           0

In [34]:
df.to_json(orient='records')

'[{"Date":"2019-01-31","Actual_avg_temp":40,"Predicted_temp":40,"Difference":0},{"Date":"2019-01-30","Actual_avg_temp":40,"Predicted_temp":34,"Difference":6},{"Date":"2019-01-29","Actual_avg_temp":35,"Predicted_temp":42,"Difference":-7},{"Date":"2019-01-28","Actual_avg_temp":42,"Predicted_temp":34,"Difference":8},{"Date":"2019-01-27","Actual_avg_temp":35,"Predicted_temp":34,"Difference":1},{"Date":"2019-01-26","Actual_avg_temp":36,"Predicted_temp":42,"Difference":-6},{"Date":"2019-01-25","Actual_avg_temp":41,"Predicted_temp":40,"Difference":1},{"Date":"2019-01-24","Actual_avg_temp":37,"Predicted_temp":46,"Difference":-9},{"Date":"2019-01-23","Actual_avg_temp":44,"Predicted_temp":40,"Difference":4},{"Date":"2019-01-22","Actual_avg_temp":39,"Predicted_temp":42,"Difference":-3},{"Date":"2019-01-21","Actual_avg_temp":43,"Predicted_temp":46,"Difference":-3}]'

In [7]:
df.to_csv(city + '_ridge.csv')

In [35]:
def plot_data(query_city):
    
    connex = sqlite3.connect("weather_predict.db")  # Opens file if exists, else creates file
    cur = connex.cursor()
    
    query = "SELECT * FROM " + query_city
    
    df = pd.read_sql(query, con=connex)
    
    df.sort_values(by=['Date'], ascending=True)
    
    df.to_csv(query_city + '_dtr.csv')
    #return df.to_json(orient='records')

In [42]:
plot_data('Nice_prediction')