In [1]:
import pandas as pd
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
import sqlite3

In [2]:
connex = sqlite3.connect("weather_predict.db")  # Opens file if exists, else creates file
cur = connex.cursor()

In [58]:
query_city = 'Lihue_prediction'
query = "SELECT * FROM " + query_city

In [59]:
df = pd.read_sql(query, con=connex).set_index('Date')

In [60]:
df

            Actual_avg_temp  Predicted_temp  Difference
Date
2019-01-30               71              69           2
2019-01-29               71              67           4
2019-01-28               69              68           1
2019-01-27               70              69           1
2019-01-26               70              70           0
2019-01-25               70              71          -1
2019-01-24               72              73          -1
2019-01-23               72              73          -1
2019-01-22               73              74          -1
2019-01-21               76              74           2

In [65]:
df['Difference'].mean()

0.6

0.17582417582417575

3.0