In [7]:
import pandas as pd
import csv
import os
import sqlite3

In [8]:
connex = sqlite3.connect("weather_predict.db")  # Opens file if exists, else creates file
cur = connex.cursor()

In [3]:
city1 = 'kauai_train_feats'
query1 = "SELECT * FROM " + city1

In [4]:
df = pd.read_sql(query1, con=connex)#.set_index('Date')
#df.sort_values("Date", ascending=False)
df.head()

,Date,Avg_temp,Avg_dwp,Temp_max,Max_dwp,Temp_min,Min_dwp,Avg_temp_1,Avg_temp_2,Avg_temp_3,...,Temp_min_3,Avg_dwp_1,Avg_dwp_2,Avg_dwp_3,Max_dwp_1,Max_dwp_2,Max_dwp_3,Min_dwp_1,Min_dwp_2,Min_dwp_3
0,2017-01-04,21.375000,16.433333,26,20.6,17,12.4,20.625000,21.333333,21.125000,...,17.0,14.250000,12.975000,13.775000,16.6,15.0,16.4,12.4,9.2,9.0
1,2017-01-05,20.875000,18.433333,26,22.6,17,15.6,21.375000,20.625000,21.333333,...,18.0,16.433333,14.250000,12.975000,20.6,16.6,15.0,12.4,12.4,9.2
2,2017-01-06,20.458333,15.175000,27,21.6,15,12.4,20.875000,21.375000,20.625000,...,16.0,18.433333,16.433333,14.250000,22.6,20.6,16.6,15.6,12.4,12.4
3,2017-01-07,21.125000,14.033333,25,16.6,17,11.6,20.458333,20.875000,21.375000,...,17.0,15.175000,18.433333,16.433333,21.6,22.6,20.6,12.4,15.6,12.4
4,2017-01-08,20.666667,14.883333,26,20.6,17,9.8,21.125000,20.458333,20.875000,...,17.0,14.033333,15.175000,18.433333,16.6,21.6,22.6,11.6,12.4,15.6

In [6]:
predictors = ['Avg_temp_1', 'Avg_temp_2', 'Avg_temp_3',
              'Temp_max_1','Temp_max_2', 'Temp_max_3',
              'Temp_min_1', 'Temp_min_2', 'Temp_min_3',
              'Avg_dwp_1', 'Avg_dwp_2', 'Avg_dwp_3', 
              'Max_dwp_1', 'Max_dwp_2','Max_dwp_3', 
              'Min_dwp_1', 'Min_dwp_2', 'Min_dwp_3']
              
X = df[predictors]
#X = weather.loc[:, weather.columns != 'Avg_temp']
y = df['Avg_temp'].values.reshape(-1,1)
print(X.shape, y.shape)

(719, 18) (719, 1)

In [6]:
from sklearn.externals import joblib
scaler = joblib.load(open('concat_scaler.save','rb'))

In [7]:
X_scaled = scaler.transform(X)

In [8]:
import pickle
from sklearn.metrics import r2_score, mean_squared_error

In [9]:
from sklearn.linear_model import Ridge
ridge = pickle.load(open('ridge_concat_feats.pkl', 'rb'))

In [10]:
y_ridge_prediction = ridge.predict(X_scaled)

In [11]:
r2_ridge = r2_score(y, y_ridge_prediction)

print("The R^2 score for test data is:", r2_ridge)

The R^2 score for test data is: 0.7644630556619796

In [12]:
from sklearn.linear_model import LinearRegression
linear = pickle.load(open('linear_concat_feats.pkl', 'rb'))

In [13]:
y_linear_prediction = linear.predict(X_scaled)

In [14]:
r2_linear = r2_score(y, y_linear_prediction)

print("The R^2 score for test data is:", r2_linear)

The R^2 score for test data is: 0.8261966128325468