In [1]:
import pandas as pd
import csv
import os
import sqlite3

In [2]:
connex = sqlite3.connect("weather_predict.db")  # Opens file if exists, else creates file
cur = connex.cursor()

In [3]:
city1 = 'Lihue_recent_features'
query1 = "SELECT * FROM " + city1

In [4]:
df = pd.read_sql(query1, con=connex)
#df.sort_values("Date", ascending=False)
df.head()

,Date,Avg_temp,Avg_dwp,Temp_max,Max_dwp,Temp_min,Min_dwp,Avg_temp_1,Avg_temp_2,Avg_temp_3,...,Temp_max_3,Max_dwp_1,Max_dwp_2,Max_dwp_3,Temp_min_1,Temp_min_2,Temp_min_3,Min_dwp_1,Min_dwp_2,Min_dwp_3
0,2019-01-21,24.683846,18.891538,28.3,21.9,20.6,16.8,23.208333,22.427917,24.563333,...,26.7,21.8,18.9,18.3,18.9,17.2,21.7,15.0,11.2,14.7
1,2019-01-22,22.812083,18.103750,27.8,20.4,18.3,15.5,24.683846,23.208333,22.427917,...,26.1,21.9,21.8,18.9,20.6,18.9,17.2,16.8,15.0,11.2
2,2019-01-23,22.397500,17.239167,26.7,20.3,18.3,15.0,22.812083,24.683846,23.208333,...,28.3,20.4,21.9,21.8,18.3,20.6,18.9,15.5,16.8,15.0
3,2019-01-24,22.173750,17.132083,26.7,19.9,17.8,12.7,22.397500,22.812083,24.683846,...,28.3,20.3,20.4,21.9,18.3,18.3,20.6,15.0,15.5,16.8
4,2019-01-25,21.253913,17.071304,26.7,23.6,16.1,12.1,22.173750,22.397500,22.812083,...,27.8,19.9,20.3,20.4,17.8,18.3,18.3,12.7,15.0,15.5

In [5]:
predictors = ['Avg_temp_1', 'Avg_temp_2', 'Avg_temp_3', 
              'Temp_max_1', 'Temp_max_2',
              'Temp_min_1', 'Temp_min_3', 
              'Avg_dwp_2', 'Avg_dwp_3',
              'Min_dwp_1','Min_dwp_3']
X = df[predictors]

y = df['Avg_temp']

In [6]:
from sklearn.externals import joblib
from sklearn.preprocessing import StandardScaler
scaler = joblib.load(open('final_scaler.save','rb'))

In [7]:
X_scaled = scaler.transform(X)

In [8]:
import pickle
from sklearn.metrics import r2_score, mean_squared_error

In [9]:
from sklearn.linear_model import Ridge
ridge = pickle.load(open('ridge_final_model.pkl', 'rb'))

In [10]:
y_ridge_prediction = ridge.predict(X_scaled)

In [11]:
mse = mean_squared_error(y, y_ridge_prediction)
mse

0.9740409010890604

In [12]:
r2_ridge = r2_score(y,y_ridge_prediction)

print("The R^2 score for test data is:", r2_ridge)

The R^2 score for test data is: 0.24759727805385046

In [13]:
from sklearn.linear_model import LinearRegression
linear = pickle.load(open('linear_final_model.pkl', 'rb'))

In [14]:
y_linear_prediction = linear.predict(X_scaled)

In [15]:
 mean_squared_error(y,y_linear_prediction)

0.7466788250056926

In [16]:
r2_linear = r2_score(y, y_linear_prediction)

print("The R^2 score for test data is:", r2_linear)

The R^2 score for test data is: 0.4232242406600255

In [17]:
from sklearn.tree import DecisionTreeRegressor
dtm = pickle.load(open('dtm_final_model.pkl', 'rb'))

In [18]:
y_dtm_prediction = dtm.predict(X_scaled)

In [19]:
 mean_squared_error(y,y_dtm_prediction)

1.2071450582773027

In [20]:
r2_dtm = r2_score(y, y_dtm_prediction)

print("The R^2 score for test data is:", r2_dtm)

The R^2 score for test data is: 0.06753481643719994