In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sqlite3

In [2]:
connex = sqlite3.connect("weather_predict.db")  # Opens file if exists, else creates file
cur = connex.cursor()

In [19]:
query_city = 'Amsterdam_prediction'
query1 = "SELECT * FROM " + query_city

In [20]:
df = pd.read_sql(query1, con=connex).set_index('Date')

In [21]:
df

            Actual_avg_temp  Predicted_temp  Difference
Date
2019-02-01               33              33           0
2019-01-31               32              36          -4
2019-01-30               33              38          -5
2019-01-29               36              41          -5
2019-01-28               40              41          -1
2019-01-27               43              44          -1
2019-01-26               46              36          10
2019-01-25               36              31           5
2019-01-24               30              31          -1
2019-01-23               31              30           1
2019-01-22               31              32          -1
2019-01-21               30              30           0