In [1]:
import os
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from functools import reduce
import time
import csv
import sqlite3
from flask import (
    Flask,
    render_template,
    jsonify,
    request,
    redirect)
import json
import requests

import pickle
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.externals import joblib

# Dependencies
import openweathermapy as ow

# import api_key from config file
from config import api_key

In [2]:
def new_features(df, feature, N): 
    # total number of rows
    rows = df.shape[0]
    # a list representing number of days for prior measurements of feature
    # notice that the front of the list needs to be padded with N
    # None values to maintain the constistent rows length for each N
    numb_days_prior_measurements = [None]*N + [df[feature][i-N] for i in range(N, rows)]
    # make a new column name of feature_N and add to DataFrame
    col_name = "{}_{}".format(feature, N)
    df[col_name] = numb_days_prior_measurements

In [3]:
def c_to_f(c):
    return ((c*9/5) + 32).round(1)

In [4]:
table_name = 'kyoto_recent'

In [5]:
# connect to sqlite database
connex = sqlite3.connect("weather_predict.db")  
cur = connex.cursor() 
query = "SELECT * FROM " + table_name
city = pd.read_sql(query, con=connex)

In [24]:
city

,Date,Mean_temp,Max_temp,Min_temp,Mean_dwp,Max_dwp,Min_dwp,Pressure,Humidity,Wind,Clouds,Description
0,2019-01-18,-5.68,-5.68,-5.68,-8.68,-8.68,-8.68,1016.80,85,1.16,0,Clear
1,2019-01-18,-5.68,-5.68,-5.68,-8.68,-8.68,-8.68,1016.80,85,1.16,0,Clear
2,2019-01-18,1.00,1.00,1.00,-2.00,-2.00,-2.00,1024.00,85,1.50,20,Clouds
3,2019-01-18,1.00,1.00,1.00,-2.00,-2.00,-2.00,1024.00,85,0.50,20,Clouds
4,2019-01-18,2.08,3.00,1.00,-0.92,0.00,-2.00,1025.00,85,1.50,20,Clouds
5,2019-01-18,2.70,4.00,2.00,-0.30,1.00,-1.00,1025.00,85,0.50,20,Clouds
6,2019-01-19,5.03,6.00,4.00,1.03,2.00,0.00,1025.00,80,1.00,20,Clouds
7,2019-01-19,7.33,8.00,7.00,1.33,2.00,1.00,1025.00,70,1.00,75,Clouds
8,2019-01-19,8.68,9.00,8.00,1.68,2.00,1.00,1025.00,65,1.00,75,Clouds
9,2019-01-19,10.33,11.00,10.00,1.73,2.40,1.40,1024.00,57,2.60,20,Clouds
10,2019-01-19,10.33,11.00,10.00,0.93,1.60,0.60,1023.00,53,2.60,20,Clouds
11,2019-01-19,11.00,11.00,11.00,2.40,2.40,2.40,1022.00,57,2.10,20,Clouds
12,2019-01-19,10.98,12.00,10.00,1.58,2.60,0.60,1021.00,53,2.60,20,Clouds
13,2019-01-19,10.98,12.00,10.00,1.58,2.60,0.60,1021.00,53,2.10,20,Clouds
14,2019-01-19,10.00,10.00,10.00,1.40,1.40,1.40,1021.00,57,1.50,20,Clouds
15,2019-01-19,9.00,9.00,9.00,0.40,0.40,0.40,1021.00,57,1.50,20,Clouds
16,2019-01-19,7.00,7.00,7.00,1.00,1.00,1.00,1021.00,70,1.00,20,Clouds
17,2019-01-19,6.46,7.00,6.00,1.46,2.00,1.00,1021.00,75,1.00,20,Clouds
18,2019-01-19,6.00,6.00,6.00,2.20,2.20,2.20,1020.00,81,1.50,0,Clear
19,2019-01-19,-4.42,-4.42,-4.42,-8.22,-8.22,-8.22,1010.97,81,1.20,12,Clouds
20,2019-01-19,-4.42,-4.42,-4.42,-8.22,-8.22,-8.22,1010.97,81,1.20,12,Clouds
21,2019-01-19,-4.42,-4.42,-4.42,-8.22,-8.22,-8.22,1010.97,81,1.20,12,Clouds
22,2019-01-19,-4.00,-4.00,-4.00,-7.60,-7.60,-7.60,1008.70,82,1.16,32,Clouds
23,2019-01-19,-4.00,-4.00,-4.00,-7.60,-7.60,-7.60,1008.70,82,1.16,32,Clouds
24,2019-01-19,-4.00,-4.00,-4.00,-7.60,-7.60,-7.60,1008.70,82,1.16,32,Clouds
25,2019-01-19,-1.79,-1.79,-1.79,-4.39,-4.39,-4.39,1005.35,87,1.43,76,Clouds
26,2019-01-19,6.00,6.00,6.00,1.00,1.00,1.00,1013.00,75,1.50,75,Rain
27,2019-01-19,5.00,5.00,5.00,2.20,2.20,2.20,1013.00,86,1.50,75,Rain
28,2019-01-19,6.54,7.00,6.00,3.94,4.40,3.40,1012.00,87,0.50,75,Rain
29,2019-01-19,6.35,7.00,6.00,2.55,3.20,2.20,1012.00,81,1.50,75,Rain
...,...,...,...,...,...,...,...,...,...,...,...,...
382,2019-01-27,3.07,6.00,1.00,0.27,3.20,-1.80,1020.00,86,0.50,75,Clouds
383,2019-01-28,4.68,5.00,4.00,1.48,1.80,0.80,1020.00,84,2.10,75,Clouds
384,2019-01-28,7.34,9.00,6.00,3.34,5.00,2.00,1019.00,80,1.50,75,Clouds
385,2019-01-28,8.36,9.00,7.00,1.36,2.00,0.00,1018.00,65,0.50,75,Clouds
386,2019-01-28,9.01,10.00,8.00,1.21,2.20,0.20,1016.00,61,2.10,75,Clouds
387,2019-01-28,10.01,11.00,9.00,2.21,3.20,1.20,1015.00,61,2.60,75,Rain
388,2019-01-28,9.00,9.00,9.00,1.20,1.20,1.20,1014.00,61,4.60,75,Rain
389,2019-01-28,9.35,10.00,9.00,1.55,2.20,1.20,1014.00,61,5.10,75,Clouds
390,2019-01-28,9.67,10.00,9.00,1.07,1.40,0.40,1014.00,57,4.10,75,Rain
391,2019-01-28,8.65,9.00,8.00,1.85,2.20,1.20,1015.00,66,3.60,75,Rain
392,2019-01-28,7.65,8.00,7.00,1.65,2.00,1.00,1014.00,70,1.50,40,Rain
393,2019-01-28,7.33,8.00,7.00,2.33,3.00,2.00,1015.00,75,2.60,75,Rain
394,2019-01-28,6.54,7.00,6.00,2.74,3.20,2.20,1016.00,81,0.50,40,Clouds
395,2019-01-28,6.00,6.00,6.00,0.00,0.00,0.00,1016.00,70,4.60,0,Clear
396,2019-01-28,2.40,2.40,2.40,-0.20,-0.20,-0.20,1009.51,87,3.92,76,Rain
397,2019-01-28,2.40,2.40,2.40,-0.20,-0.20,-0.20,1009.51,87,3.92,76,Rain
398,2019-01-28,2.40,2.40,2.40,-0.20,-0.20,-0.20,1009.51,87,3.92,76,Rain
399,2019-01-28,1.56,1.56,1.56,-1.04,-1.04,-1.04,1010.85,87,3.52,20,Clouds
400,2019-01-28,1.56,1.56,1.56,-1.04,-1.04,-1.04,1010.85,87,3.52,20,Clouds
401,2019-01-28,1.56,1.56,1.56,-1.04,-1.04,-1.04,1010.85,87,3.52,20,Clouds
402,2019-01-28,0.12,0.12,0.12,-3.08,-3.08,-3.08,1012.93,84,3.19,12,Clouds
403,2019-01-28,2.00,2.00,2.00,-1.20,-1.20,-1.20,1021.00,84,3.10,20,Clouds
404,2019-01-28,3.00,3.00,3.00,-2.20,-2.20,-2.20,1022.00,74,3.10,40,Rain
405,2019-01-28,2.54,3.00,2.00,-1.46,-1.00,-2.00,1023.00,80,1.50,20,Rain
406,2019-01-28,3.68,4.00,3.00,-1.52,-1.20,-2.20,1024.00,74,1.50,75,Rain
407,2019-01-29,4.33,5.00,4.00,-1.87,-1.20,-2.20,1025.00,69,2.10,75,Clouds
408,2019-01-29,5.33,6.00,5.00,-2.67,-2.00,-3.00,1025.00,60,2.10,40,Clouds
409,2019-01-29,6.32,7.00,6.00,-3.28,-2.60,-3.60,1025.00,52,3.10,75,Rain
410,2019-01-29,6.65,7.00,6.00,-3.75,-3.40,-4.40,1024.00,48,3.60,75,Clouds
411,2019-01-29,7.00,7.00,7.00,-2.60,-2.60,-2.60,1024.00,52,4.60,75,Rain

In [7]:
city_date = []

for day in city['Date']:
    timestamp = datetime.strptime(day,'%Y-%m-%d %H:%M:%S')
    day_only = datetime.strftime(timestamp,'%Y-%m-%d')
    city_date.append(day_only)
date = pd.DataFrame(city_date)

city['Date'] = date.values

In [8]:
city.head()

,Date,Mean_temp,Max_temp,Min_temp,Mean_dwp,Max_dwp,Min_dwp,Pressure,Humidity,Wind,Clouds,Description
0,2019-01-18,-5.68,-5.68,-5.68,-8.68,-8.68,-8.68,1016.8,85,1.16,0,Clear
1,2019-01-18,-5.68,-5.68,-5.68,-8.68,-8.68,-8.68,1016.8,85,1.16,0,Clear
2,2019-01-18,1.00,1.00,1.00,-2.00,-2.00,-2.00,1024.0,85,1.50,20,Clouds
3,2019-01-18,1.00,1.00,1.00,-2.00,-2.00,-2.00,1024.0,85,0.50,20,Clouds
4,2019-01-18,2.08,3.00,1.00,-0.92,0.00,-2.00,1025.0,85,1.50,20,Clouds

In [9]:
grouped_city = city.groupby('Date')
city_mean = grouped_city[['Mean_temp','Mean_dwp']].mean()
city_max = grouped_city[['Max_temp','Max_dwp']].max()
city_min= grouped_city[['Min_temp','Min_dwp']].min()

dfs = [city_mean, city_max, city_min]

In [10]:
df_final = reduce(lambda left,right: pd.merge(left,right,on='Date'), dfs)
df_final.head()

            Mean_temp  Mean_dwp  Max_temp  Max_dwp  Min_temp  Min_dwp
Date
2019-01-18  -0.763333 -3.763333       4.0      1.0     -5.68    -8.68
2019-01-19   4.581667 -0.976667      12.0      4.4     -4.42    -8.22
2019-01-20   6.731053  3.036316      12.0      7.6      2.01    -1.60
2019-01-21   5.900800 -2.011200      10.0      1.0      0.55    -3.40
2019-01-22   4.073750 -0.676250      12.0      6.2     -5.31    -8.95

In [11]:
city_renamed = df_final.rename(columns={'Mean_temp': 'Avg_temp','Mean_dwp': 'Avg_dwp',
                                              'Max_temp': 'Temp_max','Max_dwp': 'Max_dwp',
                                              'Min_temp':'Temp_min','Min_dwp': 'Min_dwp'})


city_renamed.head()

            Avg_temp   Avg_dwp  Temp_max  Max_dwp  Temp_min  Min_dwp
Date
2019-01-18 -0.763333 -3.763333       4.0      1.0     -5.68    -8.68
2019-01-19  4.581667 -0.976667      12.0      4.4     -4.42    -8.22
2019-01-20  6.731053  3.036316      12.0      7.6      2.01    -1.60
2019-01-21  5.900800 -2.011200      10.0      1.0      0.55    -3.40
2019-01-22  4.073750 -0.676250      12.0      6.2     -5.31    -8.95

In [12]:
features_city = list(city_renamed.columns.values)
#N is the number of days prior to the prediction, 3 days for this model
for feature in features_city:  
    if feature != 'Date':
        for N in range(1, 4):
            new_features(city_renamed, feature, N)
city_renamed.columns

Index(['Avg_temp', 'Avg_dwp', 'Temp_max', 'Max_dwp', 'Temp_min', 'Min_dwp',
       'Avg_temp_1', 'Avg_temp_2', 'Avg_temp_3', 'Avg_dwp_1', 'Avg_dwp_2',
       'Avg_dwp_3', 'Temp_max_1', 'Temp_max_2', 'Temp_max_3', 'Max_dwp_1',
       'Max_dwp_2', 'Max_dwp_3', 'Temp_min_1', 'Temp_min_2', 'Temp_min_3',
       'Min_dwp_1', 'Min_dwp_2', 'Min_dwp_3'],
      dtype='object')

In [13]:
clean_df = city_renamed.dropna()
clean_df.Temp_max = clean_df.Temp_max.astype(float)
clean_df.Temp_min = clean_df.Temp_min.astype(float)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [14]:
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score, mean_squared_error

In [15]:
predictors = ['Avg_temp_1', 'Avg_temp_2', 'Avg_temp_3', 'Temp_max_1', 'Temp_max_2',
       'Temp_min_1', 'Temp_min_3', 'Avg_dwp_2', 'Avg_dwp_3', 'Min_dwp_1',
       'Min_dwp_3']

In [16]:
X = clean_df[predictors]
y= clean_df['Avg_temp']
X

,Avg_temp_1,Avg_temp_2,Avg_temp_3,Temp_max_1,Temp_max_2,Temp_min_1,Temp_min_3,Avg_dwp_2,Avg_dwp_3,Min_dwp_1,Min_dwp_3
Date,,,,,,,,,,,
2019-01-21,6.731053,4.581667,-0.763333,12.0,12.0,2.01,-5.68,-0.976667,-3.763333,-1.60,-8.68
2019-01-22,5.900800,6.731053,4.581667,10.0,12.0,0.55,-4.42,3.036316,-0.976667,-3.40,-8.22
2019-01-23,4.073750,5.900800,6.731053,12.0,10.0,-5.31,2.01,-2.011200,3.036316,-8.95,-1.60
2019-01-24,6.952500,4.073750,5.900800,12.0,12.0,-0.24,0.55,-0.676250,-2.011200,-3.20,-3.40
2019-01-25,2.868750,6.952500,4.073750,9.0,12.0,-5.54,-5.31,1.077500,-0.676250,-7.94,-8.95
2019-01-26,5.232917,2.868750,6.952500,10.0,9.0,0.80,-0.24,-4.406250,1.077500,-4.20,-3.20
2019-01-27,2.222778,5.232917,2.868750,6.0,10.0,1.00,-5.54,-1.692083,-4.406250,-7.20,-7.94
2019-01-28,1.668800,2.222778,5.232917,9.0,6.0,-6.08,0.80,-4.110556,-1.692083,-9.28,-4.20
2019-01-29,5.283750,1.668800,2.222778,11.0,9.0,0.12,1.00,-4.123200,-4.110556,-3.08,-7.20

In [17]:
scaler = joblib.load(open('concat_scaler.save', 'rb'))

In [18]:
X_scaled = scaler.transform(X)

In [19]:
model = pickle.load(open('ridge_concat_feats.pkl', 'rb'))

In [20]:
y_prediction = model.predict(X_scaled)

In [21]:
score = r2_score(y, y_prediction)

In [22]:
score

-0.6280581045459572

In [23]:
# apply function to convert temperature into Fahrenheit
actual_f = c_to_f(clean_df['Avg_temp'])

avg_f = c_to_f(y_prediction)

avg_fahrenheit = []

for i in range(0, len(avg_f)):
    avg_fahrenheit.append(int(avg_f.item(i)))

# grab values and add to dataframe  
clean_df['Actual_avg_temp'] = ''
clean_df['Predicted_temp']= ''

clean_df['Actual_avg_temp'] = actual_f
clean_df['Predicted_temp'] = avg_fahrenheit

# Create new dataframe with only Average temperature collected and compare with predicted temperature 
predictions_df = clean_df[['Actual_avg_temp','Predicted_temp',]]

predictions_df

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

            Actual_avg_temp  Predicted_temp
Date
2019-01-21             42.6              42
2019-01-22             39.3              42
2019-01-23             44.5              41
2019-01-24             37.2              44
2019-01-25             41.4              39
2019-01-26             36.0              42
2019-01-27             35.0              38
2019-01-28             41.5              38
2019-01-29             42.7              41