In [392]:
import pandas as pd
import sqlite3
import datetime as datetime
from functools import reduce
import time

In [422]:
db = 'weather_predict.db'
connex = sqlite3.connect(db)
cur = connex.cursor()

In [435]:
table = 'nice_recent'
query = "SELECT * FROM " + table

In [436]:
df = pd.read_sql(query, con=connex)
df.count()

Date           705
Mean_temp      705
Max_temp       705
Min_temp       705
Mean_dwp       705
Max_dwp        705
Min_dwp        705
Pressure       705
Humidity       705
Wind           705
Clouds         705
Description    705
dtype: int64

In [437]:
unique_df = df.drop_duplicates(subset="Date", keep='first', inplace=False)

In [438]:
unique_df.set_index('Date').head()

,Mean_temp,Max_temp,Min_temp,Mean_dwp,Max_dwp,Min_dwp,Pressure,Humidity,Wind,Clouds,Description
Date,,,,,,,,,,,
2019-01-18 19:30:00,5.95,7.0,5.0,-1.05,0.0,-2.0,1013.0,65,3.6,40,Clouds
2019-01-18 20:30:00,6.42,8.0,5.0,-1.38,0.2,-2.8,1013.0,61,4.1,40,Clouds
2019-01-18 21:30:00,6.42,8.0,5.0,-1.38,0.2,-2.8,1013.0,61,4.6,75,Clouds
2019-01-18 22:30:00,6.42,8.0,5.0,-1.98,-0.4,-3.4,1014.0,58,4.1,75,Clouds
2019-01-18 23:30:00,5.90,8.0,4.0,-2.50,-0.4,-4.4,1013.0,58,4.1,75,Clouds

In [439]:
unique_df.count()

Date           701
Mean_temp      701
Max_temp       701
Min_temp       701
Mean_dwp       701
Max_dwp        701
Min_dwp        701
Pressure       701
Humidity       701
Wind           701
Clouds         701
Description    701
dtype: int64

In [440]:
# Import dataframe into MySQL
import sqlalchemy
database_username = 'root'
database_password = 'Pufferin@1'
database_ip       = 'localhost'
database_name     = 'weather_prediction'
database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password, 
                                                      database_ip, database_name))
unique_df.to_sql(con=database_connection, name='Nice_recent', if_exists='replace',index=False, index_label='Date')

In [414]:
query_city1 = 'kyoto_recent'
query1 = "SELECT * FROM " + query_city1

In [293]:
df1 = pd.read_sql(query1, con=database_connection)
df1.dtypes

Date           datetime64[ns]
Mean_temp             float64
Max_temp              float64
Min_temp              float64
Mean_dwp              float64
Max_dwp               float64
Min_dwp               float64
Pressure              float64
Humidity                int64
Wind                  float64
Clouds                  int64
Description            object
dtype: object

In [294]:
df1['Date'] = pd.to_datetime(df1['Date'])

In [299]:
df1['Date_only'] = df1['Date'].dt.date
del df1['Date']

In [301]:
grouped_city = df1.groupby('Date_only')
city_mean = grouped_city[['Mean_temp','Mean_dwp']].mean()
city_max = grouped_city[['Max_temp','Max_dwp']].max()
city_min= grouped_city[['Min_temp','Min_dwp']].min()

In [304]:
dfs = [city_mean, city_max, city_min]

df_final = reduce(lambda left,right: pd.merge(left,right,on='Date_only'), dfs)
city_renamed = df_final.rename(columns={'Mean_temp': 'Avg_temp',
                                        'Mean_dwp': 'Avg_dwp',
                                        'Max_temp': 'Temp_max',
                                        'Max_dwp': 'Max_dwp',
                                        'Min_temp':'Temp_min',                                       	
                                        'Min_dwp': 'Min_dwp'})

In [306]:
city_renamed.head()

            Avg_temp   Avg_dwp  Temp_max  Max_dwp  Temp_min  Min_dwp
Date_only
2019-01-18  0.220000 -2.780000       4.0      1.0     -5.68    -8.68
2019-01-19  4.954783 -0.688696      12.0      4.4     -4.42    -8.22
2019-01-20  6.731053  3.036316      12.0      7.6      2.01    -1.60
2019-01-21  5.704348 -1.947826      10.0      1.0      0.55    -3.40
2019-01-22  3.990000 -0.618696      12.0      6.2     -5.31    -8.95

In [308]:
def new_features(df, feature, N): 
    # total number of rows
    rows = df.shape[0]
    # a list representing number of days for prior measurements of feature
    # notice that the front of the list needs to be padded with N
    # None values to maintain the constistent rows length for each N
    numb_days_prior_measurements = [None]*N + [df[feature][i-N] for i in range(N, rows)]
    # make a new column name of feature_N and add to DataFrame
    col_name = "{}_{}".format(feature, N)
    df[col_name] = numb_days_prior_measurements

In [309]:
features_city = ['Avg_temp', 'Avg_dwp', 'Temp_max', 'Max_dwp', 'Temp_min', 'Min_dwp']
#N is the number of days prior to the prediction, 3 days for this model
for feature in features_city:  
    if feature != 'Date_only':
        for N in range(1, 4):
            new_features(city_renamed, feature, N)
clean_df = city_renamed.dropna()

In [310]:
clean_df

,Avg_temp,Avg_dwp,Temp_max,Max_dwp,Temp_min,Min_dwp,Avg_temp_1,Avg_temp_2,Avg_temp_3,Avg_dwp_1,...,Temp_max_3,Max_dwp_1,Max_dwp_2,Max_dwp_3,Temp_min_1,Temp_min_2,Temp_min_3,Min_dwp_1,Min_dwp_2,Min_dwp_3
Date_only,,,,,,,,,,,,,,,,,,,,,
2019-01-21,5.704348,-1.947826,10.00,1.00,0.55,-3.40,6.731053,4.954783,0.220000,3.036316,...,4.00,7.60,4.40,1.00,2.01,-4.42,-5.68,-1.60,-8.22,-8.68
2019-01-22,3.990000,-0.618696,12.00,6.20,-5.31,-8.95,5.704348,6.731053,4.954783,-1.947826,...,12.00,1.00,7.60,4.40,0.55,2.01,-4.42,-3.40,-1.60,-8.22
2019-01-23,6.902727,0.902727,12.00,4.60,-0.24,-3.20,3.990000,5.704348,6.731053,-0.618696,...,12.00,6.20,1.00,7.60,-5.31,0.55,2.01,-8.95,-3.40,-1.60
2019-01-24,2.674783,-4.412174,9.00,-1.20,-5.54,-7.94,6.902727,3.990000,5.704348,0.902727,...,10.00,4.60,6.20,1.00,-0.24,-5.31,0.55,-3.20,-8.95,-3.40
2019-01-25,5.232917,-1.692083,10.00,6.80,0.80,-4.20,2.674783,6.902727,3.990000,-4.412174,...,12.00,-1.20,4.60,6.20,-5.54,-0.24,-5.31,-7.94,-3.20,-8.95
2019-01-26,2.294706,-4.105294,6.00,-1.20,1.00,-7.20,5.232917,2.674783,6.902727,-1.692083,...,12.00,6.80,-1.20,4.60,0.80,-5.54,-0.24,-4.20,-7.94,-3.20
2019-01-27,1.991667,-3.908333,9.00,3.20,-6.08,-9.28,2.294706,5.232917,2.674783,-4.105294,...,9.00,-1.20,6.80,-1.20,1.00,0.80,-5.54,-7.20,-4.20,-7.94
2019-01-28,5.283750,0.367083,11.00,5.00,0.12,-3.08,1.991667,2.294706,5.232917,-3.908333,...,10.00,3.20,-1.20,6.80,-6.08,1.00,0.80,-9.28,-7.20,-4.20
2019-01-29,1.753333,-4.980000,9.00,0.20,-5.90,-9.30,5.283750,1.991667,2.294706,0.367083,...,6.00,5.00,3.20,-1.20,0.12,-6.08,1.00,-3.08,-9.28,-7.20
2019-01-30,4.483043,-2.516957,11.00,3.00,-4.27,-8.27,1.753333,5.283750,1.991667,-4.980000,...,9.00,0.20,5.00,3.20,-5.90,0.12,-6.08,-9.30,-3.08,-9.28
2019-01-31,3.806522,1.171739,7.00,7.00,-0.72,-3.20,4.483043,1.753333,5.283750,-2.516957,...,11.00,3.00,0.20,5.00,-4.27,-5.90,0.12,-8.27,-9.30,-3.08
2019-02-01,2.526250,-3.423750,8.00,2.40,-4.44,-6.64,3.806522,4.483043,1.753333,1.171739,...,9.00,7.00,3.00,0.20,-0.72,-4.27,-5.90,-3.20,-8.27,-9.30
2019-02-02,5.112778,-1.776111,11.00,4.00,-4.68,-8.08,2.526250,3.806522,4.483043,-3.423750,...,11.00,2.40,7.00,3.00,-4.44,-0.72,-4.27,-6.64,-3.20,-8.27
2019-02-03,10.637500,6.747500,14.57,13.37,5.00,0.00,5.112778,2.526250,3.806522,-1.776111,...,7.00,4.00,2.40,7.00,-4.68,-4.44,-0.72,-8.08,-6.64,-3.20
2019-02-04,2.337500,-0.162500,14.00,8.20,-1.66,-3.66,10.637500,5.112778,2.526250,6.747500,...,8.00,13.37,4.00,2.40,5.00,-4.68,-4.44,0.00,-8.08,-6.64
2019-02-05,7.036667,1.611667,13.00,7.40,0.90,-2.60,2.337500,10.637500,5.112778,-0.162500,...,11.00,8.20,13.37,4.00,-1.66,5.00,-4.68,-3.66,0.00,-8.08
2019-02-06,5.790000,3.315000,13.00,7.60,-0.98,-3.38,7.036667,2.337500,10.637500,1.611667,...,14.57,7.40,8.20,13.37,0.90,-1.66,5.00,-2.60,-3.66,0.00
2019-02-07,8.297083,5.105417,13.00,10.40,2.64,1.00,5.790000,7.036667,2.337500,3.315000,...,14.00,7.60,7.40,8.20,-0.98,0.90,-1.66,-3.38,-2.60,-3.66
2019-02-08,2.896250,-2.337083,9.00,5.80,-4.15,-5.35,8.297083,5.790000,7.036667,5.105417,...,13.00,10.40,7.60,7.40,2.64,-0.98,0.90,1.00,-3.38,-2.60
2019-02-09,4.289524,-1.253333,8.00,2.00,1.12,-5.40,2.896250,8.297083,5.790000,-2.337083,...,13.00,5.80,10.40,7.60,-4.15,2.64,-0.98,-5.35,1.00,-3.38
2019-02-10,2.154211,-4.530000,7.00,4.00,-3.10,-6.80,4.289524,2.896250,8.297083,-1.253333,...,13.00,2.00,5.80,10.40,1.12,-4.15,2.64,-5.40,-5.35,1.00
2019-02-11,3.344286,0.715714,6.00,3.20,-0.39,-2.29,2.154211,4.289524,2.896250,-4.530000,...,9.00,4.00,2.00,5.80,-3.10,1.12,-4.15,-6.80,-5.40,-5.35
2019-02-12,4.189565,-2.193043,10.00,6.60,-4.19,-6.79,3.344286,2.154211,4.289524,0.715714,...,8.00,3.20,4.00,2.00,-0.39,-3.10,1.12,-2.29,-6.80,-5.40
2019-02-13,4.603333,-0.171667,11.00,6.60,-2.82,-4.42,4.189565,3.344286,2.154211,-2.193043,...,7.00,6.60,3.20,4.00,-4.19,-0.39,-3.10,-6.79,-2.29,-6.80
2019-02-14,1.253750,-4.271250,7.00,1.60,-7.09,-9.89,4.603333,4.189565,3.344286,-0.171667,...,6.00,6.60,6.60,3.20,-2.82,-4.19,-0.39,-4.42,-6.79,-2.29
2019-02-15,4.586429,-1.670714,7.00,2.28,1.11,-5.40,1.253750,4.603333,4.189565,-4.271250,...,10.00,1.60,6.60,6.60,-7.09,-2.82,-4.19,-9.89,-4.42,-6.79
2019-02-16,5.267273,0.312727,13.00,5.40,-4.39,-6.79,4.586429,1.253750,4.603333,-1.670714,...,11.00,2.28,1.60,6.60,1.11,-7.09,-2.82,-5.40,-9.89,-4.42
2019-02-17,2.512609,-2.861304,8.00,4.40,-5.71,-8.51,5.267273,4.586429,1.253750,0.312727,...,7.00,5.40,2.28,1.60,-4.39,1.11,-7.09,-6.79,-5.40,-9.89
2019-02-18,6.076364,0.240000,13.00,8.20,-0.09,-3.00,2.512609,5.267273,4.586429,-2.861304,...,7.00,4.40,5.40,2.28,-5.71,-4.39,1.11,-8.51,-6.79,-5.40

In [ ]:
# Dependencies
import csv
import openweathermapy as ow
import pandas as pd
import requests
import pprint
import time
from datetime import datetime
import os
import sqlite3

# import api_key from config file
from config import api_key


def grab_json(city_name, city_sql_name): 
    # Opens file if exists, else creates file
    connex = sqlite3.connect("weather_predict.db") 
    # This object lets us actually send messages to our DB and receive results
    cur = connex.cursor()   
    
    data = []

    url = "http://api.openweathermap.org/data/2.5/weather?"
    units = "metric"
    city = url + "appid=" + api_key + "&q=" + city_name +"&units="+ units

    weather_response = requests.get(city)
    data.append(weather_response.json())

    date_obj = []
    temp = []
    max_temp = []
    min_temp = []
    humidity = []
    pressure = []
    wind_speed = []
    clouds = []
    description = []

    for measure in data:
        date_obj.append(measure['dt'])
        temp.append(measure['main']['temp'])
        max_temp.append(measure['main']['temp_max'])
        min_temp.append(measure['main']['temp_min'])
        pressure.append(measure['main']['pressure'])
        humidity.append(measure['main']['humidity'])
        wind_speed.append(measure['wind']['speed'])
        clouds.append(measure['clouds']['all'])
        description.append(measure['weather'][0]['main'])

    def calculate_dp(T, H):
        return T - ((100 - H) / 5)

    dew_point = []
    for T ,H in zip(temp, humidity):
        dp = calculate_dp(T,H)
        dew_point.append(dp)

    max_dew = []
    for T ,H in zip(max_temp, humidity):
        dp = calculate_dp(T,H)
        max_dew.append(dp)

    min_dew = []
    for T ,H in zip(min_temp, humidity):
        dp = calculate_dp(T,H)
        min_dew.append(dp)

    date = []
    for seconds in date_obj:
        timestamp = datetime.utcfromtimestamp(seconds)
        day = datetime.strftime(timestamp,'%Y-%m-%d %H:%M:%S')
        date.append(day) 

    city_weather = {
        "Date": date,
        "Mean_temp": temp,
        "Max_temp": max_temp,
        "Min_temp": min_temp,
        "Mean_dwp": dew_point,
        "Max_dwp": max_dew,
        "Min_dwp": min_dew,
        "Pressure": pressure,
        "Humidity": humidity,
        "Wind": wind_speed,
        "Clouds": clouds,
        "Description": description
    }

    df = pd.DataFrame(city_weather)
    # save into mySQL database
    import sqlalchemy
    database_username = 'root'
    database_password = 'Pufferin@1'
    database_ip       = 'localhost'
    database_name     = 'weather_prediction'
    database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                                   format(database_username, database_password, 
                                                          database_ip, database_name))
    df.to_sql(con=database_connection, name=city_sql_name+'_recent', if_exists='append',index=False, index_label='Date')
    
def run_all_json():
    ams_name = 'Amsterdam'
    ams_sql_name = 'amsterdam'
    grab_json(ams_name, ams_sql_name)
    
    kyo_name = 'Kyoto'
    kyo_sql_name = 'kyoto'
    grab_json(kyo_name, kyo_sql_name)
    
    nic_name = 'Nice'
    nic_sql_name = 'nice'
    grab_json(nic_name, nic_sql_name)
    
    kau_name = 'Lihue'
    kau_sql_name = 'kauai'
    grab_json(kau_name, kau_sql_name)
    
    sal_name = 'Salvador'
    sal_sql_name = 'salvador'
    grab_json(sal_name, sal_sql_name)
    
    man_name = 'Manly'
    man_sql_name = 'manly'
    grab_json(man_name, man_sql_name)

    irv_name = 'Irvine'
    irv_sql_name = 'irvine'
    grab_json(irv_name, irv_sql_name)

while(True):
    run_all_json()
    time.sleep(3600)