In [1]:
import pandas as pd
import csv
import os
import sqlite3

In [2]:
connex = sqlite3.connect("../weather_predict.db")  # Opens file if exists, else creates file
cur = connex.cursor()

In [3]:
city1 = 'Salvador_recent_features'
query1 = "SELECT * FROM " + city1

In [4]:
df = pd.read_sql(query1, con=connex)
#df.sort_values("Date", ascending=False)
df.head()

,Date,Avg_temp,Avg_dwp,Temp_max,Max_dwp,Temp_min,Min_dwp,Avg_temp_1,Avg_temp_2,Avg_temp_3,...,Temp_max_3,Max_dwp_1,Max_dwp_2,Max_dwp_3,Temp_min_1,Temp_min_2,Temp_min_3,Min_dwp_1,Min_dwp_2,Min_dwp_3
0,2019-01-22,28.562917,22.696250,31.0,26.51,26.51,21.0,28.884615,28.756667,29.571429,...,31.0,24.20,27.08,23.40,27.00,27.00,28.00,21.8,21.8,21.8
1,2019-01-23,28.828333,24.028333,31.0,26.88,26.88,22.6,28.562917,28.884615,28.756667,...,31.0,26.51,24.20,27.08,26.51,27.00,27.00,21.0,21.8,21.8
2,2019-01-24,28.236250,24.061250,31.0,25.75,24.92,23.6,28.828333,28.562917,28.884615,...,31.0,26.88,26.51,24.20,26.88,26.51,27.00,22.6,21.0,21.8
3,2019-01-25,29.041667,23.116667,31.0,24.80,27.00,22.6,28.236250,28.828333,28.562917,...,31.0,25.75,26.88,26.51,24.92,26.88,26.51,23.6,22.6,21.0
4,2019-01-26,29.000000,22.766667,31.0,24.00,26.00,21.6,29.041667,28.236250,28.828333,...,31.0,24.80,25.75,26.88,27.00,24.92,26.88,22.6,23.6,22.6

In [5]:
predictors = ['Avg_temp_1', 'Avg_temp_2', 'Avg_temp_3', 
              'Temp_max_1', 'Temp_max_2',
              'Temp_min_1', 'Temp_min_3', 
              'Avg_dwp_2', 'Avg_dwp_3',
              'Min_dwp_1','Min_dwp_3']
X = df[predictors]

y = df['Avg_temp']

In [6]:
from sklearn.externals import joblib
from sklearn.preprocessing import StandardScaler
scaler = joblib.load(open('final_scaler.save','rb'))

In [7]:
X_scaled = scaler.transform(X)

In [8]:
import pickle
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.metrics import mean_absolute_error, median_absolute_error

In [9]:
from sklearn.linear_model import Ridge
ridge = pickle.load(open('ridge_final_model.pkl', 'rb'))

In [25]:
y_ridge_prediction = ridge.predict(X_scaled)

In [28]:
ridge_scored = ridge.score(X_scaled, y)
print(ridge_scored)

-1.2995185713915114

In [26]:
mse = mean_squared_error(y, y_ridge_prediction)
mse

0.39641254921626456

In [12]:
r2_ridge = r2_score(y,y_ridge_prediction)

print("The R^2 score for test data is:", r2_ridge)

The R^2 score for test data is: -1.2995185713915114

In [13]:
from sklearn.linear_model import LinearRegression
linear = pickle.load(open('linear_final_model.pkl', 'rb'))

In [14]:
y_linear_prediction = linear.predict(X_scaled)

In [15]:
 mean_squared_error(y,y_linear_prediction)

0.3264974829343768

In [16]:
r2_linear = r2_score(y, y_linear_prediction)

print("The R^2 score for test data is:", r2_linear)

The R^2 score for test data is: -0.8939537282675365

In [17]:
from sklearn.tree import DecisionTreeRegressor
dtm = pickle.load(open('dtm_final_model.pkl', 'rb'))

In [18]:
y_dtm_prediction = dtm.predict(X_scaled)

In [19]:
 mean_squared_error(y,y_dtm_prediction)

0.40708312864808427

In [20]:
r2_dtm = r2_score(y, y_dtm_prediction)

print("The R^2 score for test data is:", r2_dtm)

The R^2 score for test data is: -1.3614167015578986

In [21]:
mean_absolute_error(y,y_linear_prediction)

0.49491092098784667

In [22]:
mean_absolute_error(y,y_ridge_prediction)

0.5523123977926073

In [23]:
mean_absolute_error(y,y_dtm_prediction)

0.5076024609448514