In [1]:
import pandas as pd
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
import sqlite3

In [2]:
connex = sqlite3.connect("weather_predict.db")  # Opens file if exists, else creates file
cur = connex.cursor()

In [3]:
query_city = 'Kyoto_prediction'
query = "SELECT * FROM " + query_city

In [4]:
df = pd.read_sql(query, con=connex)

In [5]:
df.sort_values(by=['Date'], ascending=True)

          Date  Actual_avg_temp  Predicted_temp  Difference
10  2019-01-21               43              42           1
9   2019-01-22               39              43          -4
8   2019-01-23               44              41           3
7   2019-01-24               37              44          -7
6   2019-01-25               41              39           2
5   2019-01-26               36              42          -6
4   2019-01-27               35              38          -3
3   2019-01-28               42              38           4
2   2019-01-29               35              41          -6
1   2019-01-30               40              37           3
0   2019-01-31               41              40           1

In [6]:
df.to_json(orient='records')

'[{"Date":"2019-01-31","Actual_avg_temp":41,"Predicted_temp":40,"Difference":1},{"Date":"2019-01-30","Actual_avg_temp":40,"Predicted_temp":37,"Difference":3},{"Date":"2019-01-29","Actual_avg_temp":35,"Predicted_temp":41,"Difference":-6},{"Date":"2019-01-28","Actual_avg_temp":42,"Predicted_temp":38,"Difference":4},{"Date":"2019-01-27","Actual_avg_temp":35,"Predicted_temp":38,"Difference":-3},{"Date":"2019-01-26","Actual_avg_temp":36,"Predicted_temp":42,"Difference":-6},{"Date":"2019-01-25","Actual_avg_temp":41,"Predicted_temp":39,"Difference":2},{"Date":"2019-01-24","Actual_avg_temp":37,"Predicted_temp":44,"Difference":-7},{"Date":"2019-01-23","Actual_avg_temp":44,"Predicted_temp":41,"Difference":3},{"Date":"2019-01-22","Actual_avg_temp":39,"Predicted_temp":43,"Difference":-4},{"Date":"2019-01-21","Actual_avg_temp":43,"Predicted_temp":42,"Difference":1}]'

In [7]:
df.to_csv(city + '_ridge.csv')

In [11]:
def plot_data(query_city):
    
    connex = sqlite3.connect("weather_predict.db")  # Opens file if exists, else creates file
    cur = connex.cursor()
    
    query = "SELECT * FROM " + query_city
    
    df = pd.read_sql(query, con=connex)
    
    df.sort_values(by=['Date'], ascending=True)
    
    df.to_csv(query_city + '_ridge.csv')
    #return df.to_json(orient='records')

In [13]:
plot_data('Kyoto_prediction')

NameError: name 'city' is not defined