In [1]:
import pandas as pd
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
import sqlite3

In [2]:
connex = sqlite3.connect("weather_predict.db")  # Opens file if exists, else creates file
cur = connex.cursor()

In [3]:
query_city = 'Kyoto_prediction'
query = "SELECT * FROM " + query_city

In [5]:
df = pd.read_sql(query, con=connex).set_index('Date')

            Actual_avg_temp  Predicted_temp  Difference
Date
2019-01-30               40              36           4
2019-01-29               35              41          -6
2019-01-28               42              37           5
2019-01-27               35              37          -2
2019-01-26               36              42          -6
2019-01-25               41              38           3
2019-01-24               37              43          -6
2019-01-23               44              41           3
2019-01-22               39              42          -3
2019-01-21               43              42           1