In [3]:
import os
import pandas as pd 
import numpy as np
from datetime import datetime
from functools import reduce
import time
import csv

import json
from pandas.io.json import json_normalize

from pprint import pprint

import sqlite3

In [4]:
def k_to_c (k):
    return k - 273.15

# function to calculate temperature dew point
#  equation ==> Td = T - ((100 - RH) / 5)

def calculate_dp(T, H):
    return T - ((100 - H) / 5)

# function to create new features based on 3 previous days
def new_features(df, feature, N): 
    # total number of rows
    rows = df.shape[0]
    # a list representing number of days for prior measurements of feature
    # notice that the front of the list needs to be padded with N
    # None values to maintain the constistent rows length for each N
    numb_days_prior_measurements = [None]*N + [df[feature][i-N] for i in range(N, rows)]
    # make a new column name of feature_N and add to DataFrame
    col_name = "{}_{}".format(feature, N)
    df[col_name] = numb_days_prior_measurements

In [9]:
def json_to_class(city_):

    connex = sqlite3.connect("weather_predict.db")
    cur = connex.cursor()
    with open( 'json_files/' + city_ + '_weather.json') as f:
        city = json.load(f)

    date = []
    city_temp = []
    city_max = []
    city_min = []
    city_humidity = []
    city_pressure = []
    city_wind = []
    city_clouds = []
    city_desc = []


    for measure in city:
        date.append(measure['dt_iso'])
        city_temp.append(measure['main']['temp'])
        city_max.append(measure['main']['temp_max'])
        city_min.append(measure['main']['temp_min'])
        city_pressure.append(measure['main']['pressure'])
        city_humidity.append(measure['main']['humidity'])
        city_wind.append(measure['wind']['speed'])
        city_clouds.append(measure['clouds']['all'])
        city_desc.append(measure['weather'][0]['main'])

    # Convert temperature from Kelvin to Celsius
    temp_c = []
    for k in city_temp:
        c = round(k_to_c(k),2)
        temp_c.append(c)

    temp_max_c = []
    for k in city_max:
        c = round(k_to_c(k),2)
        temp_max_c.append(c)

    temp_min_c = []
    for k in city_min:
        c = round(k_to_c(k),2)
        temp_min_c.append(c)

    # Calculate dew point
    city_dp = []
    for T ,H in zip(temp_c, city_humidity):
        dp = calculate_dp(T,H)
        city_dp.append(dp)

    city_max_dp = []
    for T ,H in zip(temp_max_c, city_humidity):
        dp = calculate_dp(T,H)
        city_max_dp.append(dp)

    city_min_dp = []
    for T ,H in zip(temp_min_c, city_humidity):
        dp = calculate_dp(T,H)
        city_min_dp.append(dp)

    # convert date to show only day without time
    city_date = []
    for day in date:
        timestamp = datetime.strptime(day,'%Y-%m-%d %H:%M:%S +0000 UTC')
        day_only = datetime.strftime(timestamp,'%Y-%m-%d')
        city_date.append(day_only)

    # Create dict to hold all key, values 
    city_dict = {
        "Date": city_date,
        "Avg_temp": temp_c,
        "Temp_max": temp_max_c,
        "Temp_min": temp_min_c,
        "Avg_dwp": city_dp,
        "Max_dwp": city_max_dp,
        "Min_dwp": city_min_dp,
        "Pressure": city_pressure,
        "Humidity": city_humidity,
        "Wind": city_wind,
        "Clouds": city_clouds,
        "Description": city_desc
    }

    city_df = pd.DataFrame(city_dict)
    grouped_city = city_df.groupby('Date')
    city_mean = grouped_city[['Avg_temp','Avg_dwp']].mean()
    city_max = grouped_city[['Temp_max','Max_dwp']].max()
    city_min= grouped_city[['Temp_min','Min_dwp']].min()

    dfs = [city_mean, city_max, city_min]

    df_final = reduce(lambda left,right: pd.merge(left,right,on='Date'), dfs)

    features_city = ['Avg_temp', 'Avg_dwp', 'Temp_max', 'Max_dwp', 'Temp_min', 'Min_dwp']
    #N is the number of days prior to the prediction, 3 days for this model
    for feature in features_city:  
        if feature != 'Date':
            for N in range(1, 4):
                new_features(df_final, feature, N)

    clean_df = df_final.dropna()
    clean_df.to_sql(name=city_+'_train_feats', con=connex, if_exists='replace',index=True

In [10]:
kyoto = 'kyoto'
manly = 'manly'
nice = 'nice'
salvador = 'salvador'
kauai = 'kauai'
json_to_class(kyoto)
json_to_class(manly)
json_to_class(nice)
json_to_class(salvador)
json_to_class(kauai)

In [5]:
# function to convert Kelvin to Fahrenheit
def k_to_c (k):
    return k - 273.15

# function to calculate temperature dew point
#  equation ==> Td = T - ((100 - RH) / 5)

def calculate_dp(T, H):
    return T - ((100 - H) / 5)

# function to create new features based on 3 previous days
def new_features(df, feature, N): 
    # total number of rows
    rows = df.shape[0]
    # a list representing number of days for prior measurements of feature
    # notice that the front of the list needs to be padded with N
    # None values to maintain the constistent rows length for each N
    numb_days_prior_measurements = [None]*N + [df[feature][i-N] for i in range(N, rows)]
    # make a new column name of feature_N and add to DataFrame
    col_name = "{}_{}".format(feature, N)
    df[col_name] = numb_days_prior_measurements

In [67]:
import os
import pandas as pd 
import numpy as np
from datetime import datetime
from functools import reduce
import time
import csv
import sqlite3
from flask import (
    Flask,
    render_template,
    jsonify,
    request,
    redirect)
import json
import requests

import pickle
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.externals import joblib

# Dependencies
import openweathermapy as ow

# import api_key from config file
from config import api_key

In [87]:
connex = sqlite3.connect("weather_predict.db")
cur = connex.cursor()
city1 = 'Kyoto_tomorrows_features'
query1 = "SELECT * FROM " + city1

In [88]:
df = pd.read_sql(query1, con=connex)
#df.sort_values("Date", ascending=False)
df.head()

,level_0,index,Date,Avg_temp,Avg_dwp,Temp_max,Max_dwp,Temp_min,Min_dwp,Avg_temp_1,...,Temp_max_3,Max_dwp_1,Max_dwp_2,Max_dwp_3,Temp_min_1,Temp_min_2,Temp_min_3,Min_dwp_1,Min_dwp_2,Min_dwp_3
0,13,13,None,None,None,None,None,None,None,6.963333,...,11.0,-0.4,0.2,5.0,3.0,-5.9,0.12,-4.6,-9.3,-3.08

In [69]:
predictors = ['Avg_temp_1', 'Avg_temp_2', 'Avg_temp_3', 'Temp_max_1', 'Temp_max_2',
   'Temp_min_1', 'Temp_min_3', 'Avg_dwp_2', 'Avg_dwp_3', 'Min_dwp_1',
   'Min_dwp_3']

X = df[predictors]

scaler = joblib.load(open('concat_scaler.save', 'rb'))
X_scaled = scaler.transform(X)

# import ridge model to predict temperature with recent features created
model = pickle.load(open('ridge_concat_feats.pkl', 'rb'))

y_predicted = model.predict(X_scaled)
y_predicted

array([28.15105928])

In [76]:
def c_to_f(c):
    return ((c*9/5) + 32).round()

In [77]:
avg_f = int(c_to_f(y_predicted))
avg_f

83

In [107]:
tomorrow_dict = {'Tomorrows': avg_f}
df = pd.DataFrame(tomorrow_dict, index=[0])
df

   Tomorrows
0         83

In [ ]:

# save prediction dataframe into csv
tomorrow_df.to_sql(city + '_tomorrow',con=connex, if_exists="append", index=True)
return tomorrow_df.to_json(orient='records')

In [60]:
city_date = []

for day in df['Date']:
    timestamp = datetime.strptime(day,'%Y-%m-%d %H:%M:%S')
    day_only = datetime.strftime(timestamp,'%Y-%m-%d')
    city_date.append(day_only)
date = pd.DataFrame(city_date)

df['Date'] = date.values

grouped_city = df.groupby('Date')
city_mean = grouped_city[['Mean_temp','Mean_dwp']].mean()
city_max = grouped_city[['Max_temp','Max_dwp']].max()
city_min= grouped_city[['Min_temp','Min_dwp']].min()

dfs = [city_mean, city_max, city_min]

df_final = reduce(lambda left,right: pd.merge(left,right,on='Date'), dfs)

city_renamed = df_final.rename(columns={'Mean_temp': 'Avg_temp',
                                        'Mean_dwp': 'Avg_dwp',
                                        'Max_temp': 'Temp_max',
                                        'Max_dwp': 'Max_dwp',
                                        'Min_temp':'Temp_min',
                                        'Min_dwp': 'Min_dwp'})

new_index = city_renamed.reset_index()
place_holder_row = new_index.append(pd.Series([np.nan]),ignore_index = True)
del place_holder_row[0]
place_holder_row

          Date   Avg_temp    Avg_dwp  Temp_max  Max_dwp  Temp_min  Min_dwp
0   2019-01-19  29.571429  22.628571      31.0    23.40     28.00     21.8
1   2019-01-20  28.756667  23.173333      31.0    27.08     27.00     21.8
2   2019-01-21  28.884615  22.930769      31.0    24.20     27.00     21.8
3   2019-01-22  28.562917  22.696250      31.0    26.51     26.51     21.0
4   2019-01-23  28.828333  24.028333      31.0    26.88     26.88     22.6
5   2019-01-24  28.236250  24.061250      31.0    25.75     24.92     23.6
6   2019-01-25  29.041667  23.116667      31.0    24.80     27.00     22.6
7   2019-01-26  29.000000  22.766667      31.0    24.00     26.00     21.6
8   2019-01-27  28.880000  23.256000      31.0    25.00     26.00     22.6
9   2019-01-28  28.699583  24.757917      32.0    27.70     26.00     23.0
10  2019-01-29  27.912500  24.279167      31.0    27.60     25.00     22.6
11  2019-01-30  28.500000  22.900000      29.0    23.00     28.00     22.8
12         NaN        NaN        NaN       NaN      NaN       NaN      NaN

In [61]:
features_city = list(place_holder_row.columns.values)

#N is the number of days prior to the prediction, 3 days for this model
for feature in features_city:  
    if feature != 'Date':
        for N in range(1, 4):
            new_features(place_holder_row, feature, N)
new_index = place_holder_row.sort_index(ascending=True)
most_recent_feat = new_index.reset_index()
tomorrow_df = most_recent_feat[-1:]

In [78]:
tomorrow_df.to_json(orient='records')

'[{"index":12,"Date":null,"Avg_temp":null,"Avg_dwp":null,"Temp_max":null,"Max_dwp":null,"Temp_min":null,"Min_dwp":null,"Avg_temp_1":28.5,"Avg_temp_2":27.9125,"Avg_temp_3":28.6995833333,"Avg_dwp_1":22.9,"Avg_dwp_2":24.2791666667,"Avg_dwp_3":24.7579166667,"Temp_max_1":29.0,"Temp_max_2":31.0,"Temp_max_3":32.0,"Max_dwp_1":23.0,"Max_dwp_2":27.6,"Max_dwp_3":27.7,"Temp_min_1":28.0,"Temp_min_2":25.0,"Temp_min_3":26.0,"Min_dwp_1":22.8,"Min_dwp_2":22.6,"Min_dwp_3":23.0}]'